# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.NewExpress.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\rider_projects\NewExpress\.idea\.idea.NewExpress\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
